.chicagobox {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.chicagoImg {
  display: flex;
}

.lefttext {
  min-width: 200px;
  width: 40%;
}
.lefttext > p {
  padding-top: 30px;
  margin-left: 3%;
}
.lefttext > h2 {
  display: flex;
  margin-top: -10px;
}

.lefttext > h1 {
  display: flex;
  margin-left: 3%;
}
.chicagoImg {
  min-width: 250px;
  max-width: 550px;
  width: 35%;
}
