.chicagobox {
  display: flex;
  background-color: gray;
}

.chicagoImg {
  display: flex;

}

.lefttext > p {
  padding-top: 30px;
  margin-left: 3%;
}
.lefttext > h2 {
  display: flex;
  padding: 0px;
}

.lefttext > h3 {
  display: flex;
  margin-left: 3%;
}
.chicagoImg {
  width: 400px;
}
