@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  background-color: #00c04b;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Poppins';
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: gray;
}
h1 {
  font-size: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}
h2 {
  font-size: 1.8rem;
  margin-left: 3%;
}

header > img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 8rem;
}
p {
  margin-left: 5%;
  margin-right: 5%;
}
nav {
  background-color: #008631;
  border-radius: 1rem;
  text-align: center;
  padding: 0;
  margin-right: 2%;
}
nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-left: 3%;
  padding: 0.8rem;
}

nav li:first-child {
  margin-left: -6%;
}
section {
  display: flex;
}

article {
  flex: 1;
}
footer {
  display: flex;
}
footer div {
  flex: 1;
}
footer img {
  display: flex;
  text-align: left;
  width: 4rem;
}

footer p {
  text-align: right;
  color: antiquewhite;
  font-size: small;
  opacity: 80%;
}

.featured {
  background-image: url('https://i.ibb.co/ypcDj3k/eng-garden.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 25rem;
}

.image-article {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 3%;
}

article {
  background-color: #00ab41;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  margin-right: 2%;
  border-radius: 1rem;
  color: white;
}
