.card-testimonial {
  display: flex;
  max-width: 350px;
  background-color: white;
  flex-direction: column;
  margin: 10px;
}

.img-testimonial {
  width: 40%;
  display: flex;
  border-radius: 50%;
}

.starbox {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.starbox > img {
  width: 20px;
}
.photo-names {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.card-testimonial > p {
  margin: 10px;
}
