@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}
body {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
}
li {
  text-decoration: none;
}

a {
  color: #495e57;
  text-decoration: none;
}
a:hover {
  color: gray;
}
h1 {
  font-size: 3rem;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Markazi Text', serif;
  font-weight: 400;
}
h2 {
  font-size: 1.5rem;
  margin-left: 3%;
  font-weight: 300;
}
h3 {
  font-family: 'Markazi Text', serif;
}
header > img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 8rem;
}
p {
  margin-left: 5%;
  margin-right: 5%;
}
nav {
  border-radius: 1rem;
  text-align: right;
  padding: 0;
  margin-right: 2%;
}
ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-left: 3%;
  padding: 0.8rem;
}

nav li:first-child {
  margin-left: -6%;
}
section {
  display: flex;
}

article {
  flex: 1;
}
footer {
  display: flex;
}
footer div {
  flex: 1;
}

.special-container {
  max-width: '1100px';
  margin: '0 auto';
  display: flex;
}

.card {
  max-width: 400px;
  display: flex;
}

.container-headder {
  display: flex;
}

.logo-headder {
  flex: 1;
}
.nav-bar {
  flex: 1;
  margin-left: 100px;
}
.button {
  margin: 10px 20px;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  background-color: #f4ce14;
  color: #495e57;
  font-weight: 700;
}
